mixin no_use(array)
	.no_use
//--------------------------------------------------------------global vars
- production = false;
- jQuery = true;
- TweenMax = true;

- array = '';
- assetsImage = 'assets/img/';

//--------------------------------------------------------------forms