//---------------------------------------------sections
.section {
	position: relative;

	width: 100%;
	padding: 4rem $gl_indent;

	font-size: 1.6rem;
}


.section_in {
	max-width: $page_width;
	width: 100%;
	margin: 0 auto;
}

.section_title {
}
